<header th:fragment="header">
    <div class="container-fluid bg-primary-subtle">
        <div class="row">
            <div class="col-3">
                <h1 class="d-flex p-2">Best Of</h1>
            </div>
            <div class="col-9 d-flex align-items-center justify-content-end gap-3">
                <a th:href="@{/movies}">
                    <button class="btn btn-primary rounded-4 px-5">Movies</button>
                </a>
                <a th:href="@{/songs}">
                    <button class="btn btn-primary rounded-4 px-5">Songs</button>
                </a>
            </div>
        </div>
    </div>
</header>