<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dettaglio - BOTY</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" />
</head>

<body>
    <!-- Header -->
    <div th:replace="~{fragments :: header}"></div>
    <main>
        <div class="container mt-5">
            <div class="row">
                <div class="col-12" th:if="${title}">
                    <h3>Detail</h3>
                    <p th:text="'Dettaglio di: ' + ${title}"></p>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis a dignissimos minus velit necessitatibus reprehenderit ipsam fuga consequatur, veritatis dolorum cupiditate obcaecati, sit eius. Impedit quia neque aspernatur beatae totam?
                    Facilis fugit sint incidunt quos? Repellat consectetur odit fugit suscipit laudantium rerum veritatis, nisi aliquid iste corporis, delectus deserunt recusandae explicabo libero adipisci non eos quas quidem sint, aut id!
                    Natus dolores accusamus cum molestiae minima minus eaque tenetur hic eligendi et iure nihil, unde, provident tempore voluptatum quo exercitationem veritatis est vero rerum? Possimus sapiente modi a qui exercitationem!
                    Vero, nobis facilis voluptatem officia praesentium ad enim quam! Est dolores praesentium rem deleniti cum iste id, at in libero quae assumenda nesciunt recusandae odit minus, ab, placeat earum dignissimos?
                    Odio modi ipsam numquam architecto eveniet impedit magni, error earum, porro totam quibusdam. Reiciendis quo delectus laudantium nemo, quos adipisci? Fuga nesciunt repudiandae vero ipsum velit, aut amet ipsa pariatur.</p>
                </div>
                <div class="col-12 bg-warning-subtle rounded-2 py-2" th:unless="${title}">
                    <h3>Risorsa non trovata</h3>
                    <p>Il film ricercato non è presente nella lista</p>
                </div>
            </div>
        </div>
    </main>
</body>

</html>